@theme {
  --color-etc-500: #91c73e;
  --color-etc-300: #a8de54;
  --color-etc-200: #c0e680;
  --color-etc-100: #d8edab;
  --color-etc-50: #e6f2d0;
  --color-etc-dark: #6ba71e;
  --color-etc-dark-2: #6ba71e;
  --color-etc-dark-3: #6ba71e;
  --color-etc-dark-4: #6ba71e;
  --color-etc-dark-5: #6ba71e;
  --color-etc-dark-6: #6ba71e;
}
