---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import ConstructionImage from "@images/construction.jpeg";
import Background from "@images/background.jpg";
import Header from "../components/Header.astro";
---

<meta charset="utf-8" />

<BaseLayout>
  <!-- Hero Section -->
  <section class="h-[60vh] w-full bg-blend-overlay flex bg-etc-600">
    <div
      class="text-white flex-1/2 flex flex-col text-left justify-center content-center w-[40vw] h-full px-12"
    >
      <h1 class="text-5xl font-bold mb-6">O Nas</h1>
      <p class="text-xl mb-8">
        Jesteśmy poznańską firmą specjalizującą się w doradztwie i consulting
        dla branży biogazowej i biometanowej. Świadczymy kompleksowe usługi
        wsparcia na każdym etapie inwestycji – od planowania i projektowania po
        optymalizację funkcjonowania istniejących instalacji.
      </p>
    </div>
    <div class="relative flex-1/2 w-full h-full">
      <Image
        src={ConstructionImage}
        alt="Construction site"
        class="absolute inset-0 w-full h-full object-cover"
      />
    </div>
  </section>
  <!-- About Content -->
  <section class="py-20 bg-white">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-3xl font-bold mb-8 mt-12 text-etc-dark">Nasz Zespół</h2>
        <p class="text-lg text-gray-700 mb-6">
          Nasz zespół składa się ze specjalistów z wieloletnim doświadczeniem w
          zakresie realizacji inwestycji od strony zarówno wykonawczej jak i
          inwestorskiej. Ponadto wykorzystujemy nasze wykształcenie inżynierskie
          i naukowe do realizacji prac badawczo-naukowych a także posiadamy
          szeroką wiedzę techniczną w zakresie instalacji HVAC oraz budownictwa
          energooszczędnego (nZEB) i pasywnego.
        </p>

        <h2 class="text-3xl font-bold mb-8 mt-12 text-etc-dark">Nasza Misja</h2>
        <p class="text-lg text-gray-700 mb-6">
          Tym co wyróżnia nas na rynku jest bardzo indywidualne podejście do
          klienta i jego poterzeb. Naszą misją jest wspieranie transformacji
          energetycznej poprzez wdrażanie zrównoważonych rozwiązań biogazowych.
          Wierzymy, że każda firma może przyczynić się do ochrony środowiska,
          jednocześnie optymalizując swoje koszty operacyjne.
        </p>
      </div>
    </div>
  </section>

  <!-- Values Section -->
  <section class="py-20 bg-etc-50">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-12 text-etc-dark">
        Nasze Wartości
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-5 gap-8">
        <div class="bg-white p-8 rounded-lg shadow-lg">
          <h3 class="text-xl font-bold mb-4 text-etc-dark">
            Odpowiedzialność za środowisko
          </h3>
          <p class="text-gray-600">
            Działamy zgodnie z zasadami zrównoważonego rozwoju i dbamy o ochronę
            środowiska
          </p>
        </div>

        <div class="bg-white p-8 rounded-lg shadow-lg">
          <h3 class="text-xl font-bold mb-4 text-etc-dark">Innowacyjność</h3>
          <p class="text-gray-600">
            Dążymy do ciągłego doskonalenia swoich rozwiązań i usług, aby
            sprostać wymaganiom klientów oraz zmieniającym się trendom na rynku.
          </p>
        </div>

        <div class="bg-white p-8 rounded-lg shadow-lg">
          <h3 class="text-xl font-bold mb-4 text-etc-dark">Pasja</h3>
          <p class="text-gray-600">
            Jesteśmy zaangażowani w swoją pracę i mamy pasję do projektowania
            instalacji biometanowych i efektywnych energetycznie.
          </p>
        </div>

        <div class="bg-white p-8 rounded-lg shadow-lg">
          <h3 class="text-xl font-bold mb-4 text-etc-dark">Współpraca</h3>
          <p class="text-gray-600">
            Dążymy do budowania długotrwałych relacji opartych na wzajemnym
            zaufaniu i korzyściach.
          </p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg">
          <h3 class="text-xl font-bold mb-4 text-etc-dark">Otwartość</h3>
          <p class="text-gray-600">
            Jesteśmy otwarci na nowe pomysły i sugestie, aby stale doskonalić
            swoje rozwiązania i usług
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
