<meta charset="utf-8" />
<style>
  .p1 {
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 21.5%;
    bottom: 34.41%;
    text-align: center;
  }

  .container {
    position: relative;
    color: black;
  }

  .btnMenuGł {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: black;
    font-size: 1.2vw;
    size: 1.2vw;
    border: none;
    padding: 10px;
  }

  .btnMenuGł:hover {
    color: #6bb30d;
    text-decoration: underline;
  }

  .logoStrGł {
    position: absolute;
    width: 10vw;
    left: 1%;
    border: 0;
  }

  .row {
    text-align: left;
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
  }

  .textRowBottom {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

    font-size: 0.7vw;
  }

  .row2 {
    display: flex;
    float: left;
    text-align: left;
    size: 20%;
    bottom: 10%;
  }

  .rowMenuGł2 {
    text-align: center;
    bottom: -10vw;
    left: 34vw;
  }

  .rowImgs {
    display: flex;
    padding: 8vw;
  }

  .column {
    flex: 33.33%;
  }

  .btnDowiedzSięWięcej {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: lightgray;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
  }

  .btnDowiedzSięWięcej:hover {
    background-color: #9fdd4d;
  }

  .ecoNames {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
    font-style: italic;
  }
</style>

<header class="container">
  <img
    src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/Group-1@7x-3-1-scaled.jpeg"
    style=" width: 100%;"
    alt="background"
  />
  <button class="logoStrGł" onclick="redirectStrGł()">
    <img class="logoStrGł" src="/src/assets/ETC-logo.svg" />
  </button>

  <div class="row rowMenuGł">
    <button class="btnMenuGł btnOnas" onclick="redirectOnas()">About us</button>
    <button class="btnMenuGł btnCorobimy" onclick="redirectCoRobimy()"
      >Our services</button
    >
    <button class="btnMenuGł btnAktualności" onclick="redirectAktualności()"
      >News</button
    >
    <button class="btnMenuGł btnKontakt" onclick="redirectKontakt()"
      >Contact</button
    >
    <button class="btnMenuGł btnETCheck" onclick="redirectETCheck()"
      >ETCheck</button
    >
  </div>

  <div class="p1">
    Complex solutions<br />in the field of energy and biofuels.
  </div>
</header>

<br /><br /><br />
<h1
  style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 2vw; color:#9fdd4d;"
>
  What our company offers?
</h1>

<body
  background="https://ecotermcomplex.pl/wp-content/uploads/2023/09/Home-5@7x-1-e1694991585261.png"
  style="background-repeat: no-repeat; line-height: 1 !important;"
>
  <div class="rowImgs">
    <div class="column">
      <img
        src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/budynki_1x-removebg-preview.png"
        alt="buildingsCoRobimy"
        style="width: 100%;"
      />
      <h1 class="ecoNames" style="top:14%; color:lightblue">EcoTerm</h1>
      <button class="btnDowiedzSięWięcej"><b>Find out more</b></button>
    </div>
    <div class="column">
      <img
        src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/dom_robotnicy-removebg-preview.png"
        alt="constructionCoRobimy"
        style="width: 100%;"
      />
      <h2 class="ecoNames" style="top:16%; color:gray">EcoConstruct</h2>
      <button
        class="btnDowiedzSięWięcej"
        onclick="document.getElementById('middle').scrollIntoView();"
        style="top:16%;"><b>Find out more</b></button
      >
    </div>
    <div class="column">
      <img
        src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/silosy.png"
        alt="silosCoRobimy"
        style="width: 100%;"
      />
      <h3 class="ecoNames" style="top:15%; color:darkolivegreen">EcoMetan</h3>
      <button class="btnDowiedzSięWięcej" style="top:13%;"
        ><b>Find out more</b></button
      >
    </div>
  </div>

  <div
    style="
    padding-top: 5vw;
    padding-bottom: 5vw;
        text-align: center;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2432.891691416013!2d16.923419612598494!3d52.42676014301164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b546f6711a7%3A0x2dae340e96dd3d34!2sOzimina%2018A%2C%2061-664%20Pozna%C5%84!5e0!3m2!1spl!2spl!4v1693133991318!5m2!1spl!2spl"
      width="90%"
      height="20%"
      frameborder="0"
      style="border:50"
      allowfullscreen></iframe>
  </div>
  <br /><br /><br /><br /><br /><br />
  <footer>
    <div class="row2 rowBottomGł">
      <img
        src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/LOGO_ECOTERM_COMPLEX.3213.png"
        alt="logo"
        width="20%"
      />
    </div>
    <br /><br /><br /><br /><br /><br />

    <div class="textRowBottom">
      Ecotermcomplex Sp. z o.o.<br />NIP: 7831764146<br />Account Nr: 65 1140
      2004 0000 3602 7896 9347
    </div>
    <br /><br />
    <div class="rowMenuGł2">
      <button class="btnMenuGł btnOnas" onclick="redirectOnas()"
        >About us</button
      >
      <button class="btnMenuGł btnCorobimy" onclick="redirectCoRobimy()"
        >Our services</button
      >
      <button class="btnMenuGł btnAktualności" onclick="redirectAktualności()"
        >News</button
      >
      <button class="btnMenuGł btnKontakt" onclick="redirectKontakt()"
        >Contact</button
      >
      <button class="btnMenuGł btnETCheck" onclick="redirectETCheck()"
        >ETCheck</button
      >
    </div>
  </footer>
</body>

<script>
  let urlOnas = "https://ecotermcomplex.pl/?page_id=2383";
  let urlStrGł = "https://ecotermcomplex.pl";
  let urlCoRobimy = "https://ecotermcomplex.pl/?page_id=1949";
  let urlAktualności = "https://ecotermcomplex.pl/?page_id=2445";
  let urlKontakt = "https://ecotermcomplex.pl/?page_id=2034";
  let urlETCheck = "https://ecotermcomplex.pl/?page_id=2172";

  window.addEventListener("click", (event) => {
    let xperc = (event.offsetX / screen.width) * 100;
    let yperc = (event.offsetY / screen.width) * 100;

    console.log("left: " + xperc.toFixed(2), ", down: " + yperc.toFixed(2));
  });

  function redirectStrGł() {
    window.location.href = urlStrGł;
  }
  function redirectOnas() {
    window.location.href = urlOnas;
  }

  function redirectCoRobimy() {
    window.location.href = urlCoRobimy;
  }
  function redirectAktualności() {
    window.location.href = urlAktualności;
  }
  function redirectKontakt() {
    window.location.href = urlKontakt;
  }
  function redirectETCheck() {
    window.location.href = urlETCheck;
  }
</script>
