---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header id="header-main" class="header-main w-screen flex justify-between p-5">
  <div class="">
    <button id="nav-logo-btn" class="logo-btn w-40" onclick="redirectStrGł()">
      <img id="nav-logo-img" class="" src="/public/ETC-logo.svg" />
    </button>
  </div>
  <nav
    id="header-nav"
    class="flex justify-between gap-24 w-fit px-10 items-center"
  >
    <button id="nav-about-us" class="nav-btn" onclick="redirectOnas()"
      >O nas</button
    >
    <button id="nav-about-us" class="nav-btn" onclick="redirectCoRobimy()"
      >Nasze usługi</button
    >
    <button id="nav-about-us" class="nav-btn" onclick="redirectAktualności()"
      >Aktualności</button
    >
    <button id="nav-about-us" class="nav-btn" onclick="redirectKontakt()"
      >Kontakt</button
    >
    <button id="nav-about-us" class="nav-btn" onclick="redirectETCheck()"
      >ETCheck</button
    >
  </nav>
</header>
