---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import logo from "/public/ETC-logo.svg";
import Image from "astro/components/Image.astro";
---

<header id="header-main" class="header-main w-screen flex justify-between p-5">
  <div class="">
    <a href="/" class="logo-btn w-32 block">
      <Image id="nav-logo-img" src={logo} alt="ETC logo" />
    </a>
  </div>
  <nav
    id="
        header-nav"
    class="flex justify-between gap-24 w-fit px-10 items-center"
  >
    <a href="/about/" class="nav-btn">O nas</a>
    <a href="/services/" class="nav-btn">Nasze usługi</a>
    <!--  <a href="/news/" class="nav-btn">Aktualności</a>-->
    <a href="/contact/" class="nav-btn">Kontakt</a>
    <a href="/etcheck/" class="nav-btn">ETCheck</a>
  </nav>
</header>
