<meta charset="utf-8" />
<style>
  .wp-block-navigation__responsive-container-open {
    display: none !important;
  }

  .wp-block-site-logo {
    display: none !important;
  }

  .wp-block-post-title {
    display: none !important;
  }

  .wp-block-site-title {
    display: none !important;
  }

  .has-text-align-right {
    display: none !important;
  }

  .btnMenuGł {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: black;
    font-size: 2vw;
    border: none;
    padding: 3vw;
    display: inline-block;
  }

  .btnMenuGł:hover {
    color: #6bb30d;
    text-decoration: underline;
  }

  .logoStrGł {
    width: 10vw;
    border: 0;
  }

  .textFooter {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7w;
    font-size: 1.2vw;
  }

  .textOnas {
    font-family: Arial, Helvetica, sans-serif;

    top: 10vw;
    left: 2vw;
  }

  .rowOnasKółka {
    display: flex;
    flex-wrap: wrap;
    left: 5vw;
  }

  .columnsTextKółka {
    position: relative;
    top: 50%;
    left: -2vw;
    flex: 1px;
    text-align: center;
  }

  .pKółka {
    position: relative;
    top: -50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
  }

  .rowOnas3 {
    display: flex;
  }

  .columnSzarePanele {
    font-family: Arial, Helvetica, sans-serif;
    flex: 33vw;
    width: 26vw;
  }

  .szarePaneleLista {
    position: relative;
    bottom: 50%;
    font-size: 0.8vw;
  }

  .kółkaZielone {
    width: 60%;
  }
</style>

<body
  background="https://ecotermcomplex.pl/wp-content/uploads/2023/09/Home-5@7x-1-e1694991585261.png"
  style="background-repeat: no-repeat; line-height: 1 !important;"
>
  <header>
    <div style=" display: flex; position: sticky;">
      <button
        class="btnLogoStrGł"
        onclick="redirectStrGł()"
        style="background: none;
        border: none; flex: 10vw;"
      >
        <img
          class="logoStrGł"
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/Logo-1.png"
        />
      </button>

      <div class="rowMenuGł" style="flex: 90vw; text-align: right;">
        <button class="btnMenuGł btnOnas" onclick="redirectOnas()">O nas</button
        >
        <button class="btnMenuGł btnCorobimy" onclick="redirectCoRobimy()"
          >Co robimy</button
        >
        <button class="btnMenuGł btnAktualności" onclick="redirectAktualności()"
          >Aktualności</button
        >
        <button class="btnMenuGł btnKontakt" onclick="redirectKontakt()"
          >Kontakt</button
        >
        <button class="btnMenuGł btnETCheck" onclick="redirectETCheck()"
          >ETCheck</button
        >
      </div>
    </div>
  </header>
  <div style="padding-left: 3vw; padding-right: 3vw;">
    <div class="textOnas">
      <p1 style="color: #6bb30d;font-size: 2vw;">
        Poznaj nas lepiej <br /><br />
      </p1>
      <p2 style="font-size: 1.2vw;">
        <b>
          O nas <br /><br />
        </b>
      </p2>
      <p3 style="font-size: 1.2vw;">
        Nasz zespół składa się ze specjalistów z wieloletnim doświadczeniem w
        zakresie realizacji inwestycji od strony zarówno wykonawczej jak i
        inwestorskiej.<br /> Ponadto wykorzystujemy nasze wykształcenie inżynierskie
        i naukowe do realizacji prac badawczo-naukowych a także posiadamy szeroką
        wiedzę<br />
        techniczną w zakresie instalacji HVAC oraz budownictwa energooszczędnego
        (nZEB) i pasywnego.<br /><br />

        Tym co wyróżnia nas na rynku jest bardzo indywidualne podejście do
        klienta i jego poterzeb.
      </p3>
    </div>

    <div class="rowOnasKółka" style="padding: 3vw;">
      <div class="columnKółko1 columnsTextKółka">
        <img
          class="kółkaZielone"
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/Ellipse_2.5.png"
        />
        <p class="pk1 pKółka">bioLNG</p>
      </div>
      <div class="columnKółko2 columnsTextKółka">
        <img
          class="kółkaZielone"
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/takiescifigownopierdolonekolkojebanewdupenokurwabardziejpojebanegoniedalosiewymyslic.png"
        />
        <p class="pk2 pKółka">Odnawialne<br /> źródła&nbsp;energii</p>
      </div>
      <div class="columnKółko3 columnsTextKółka">
        <img
          class="kółkaZielone"
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/takiescifigownopierdolonekolkojebanewdupenokurwabardziejpojebanegoniedalosiewymyslic.png"
        />
        <p class="pk3 pKółka">Współpraca&nbsp;<br />z rolnictwem</p>
      </div>
      <div class="columnKółko4 columnsTextKółka">
        <img
          class="kółkaZielone"
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/takiescifigownopierdolonekolkojebanewdupenokurwabardziejpojebanegoniedalosiewymyslic.png"
        />
        <p class="pk4 pKółka">Zrównoważona<br /> energia</p>
      </div>
      <div class="columnKółko5 columnsTextKółka">
        <img
          class="kółkaZielone"
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/Ellipse_2.5.png"
        />
        <p class="pk5 pKółka">Elastyczne <br />podejście</p>
      </div>
    </div>

    <div class="rowOnas3">
      <div class="columnSzarePanele">
        <img
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/reka-jpg.png"
          style="width:26vw"
        />
        <ul class="listaRękaSzaryPanel szarePaneleLista">
          <li>
            <b> Odpowiedzialność za środowisko </b>- działamy zgodnie z zasadami
            zrównoważonego rozwoju i<br /> dbamy o ochronę środowiska
          </li><br />

          <li>
            Innowacyjność dążymy do ciągłego doskonalenia swoich rozwiązań i
            usług, aby sprostać wymaganiom klientów oraz zmieniającym się
            trendom na rynku.
          </li><br />

          <li>
            <b>Pasja</b> – jesteśmy zaangażowani w swoją pracę i<br /> mamy pasję
            do projektowania instalacji<br /> biometanowych i efektywnych energetycznie.
          </li><br />

          <li>
            <b>Współpraca</b> - dążymy do budowania<br />
            długotrwałych relacji opartych na wzajemnym<br /> zaufaniu i korzyściach.
          </li><br />

          <li>
            <b>Otwartość</b> – jesteśmy otwarci na nowe pomysły i <br
            />sugestie, aby stale doskonalić swoje rozwiązania<br /> i usług
          </li>
        </ul>
      </div>
      <div class="columnSzarePanele">
        <img
          src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/celwonikjpg.png"
          style="width:26vw"
        />
        <ul class="listaCelownikSzaryPanel szarePaneleLista">
          <li>
            Dostarczanie klientom <b
              >innowacyjnych<br />i ekologicznych rozwiązań</b
            >
          </li><br />

          <li>
            Dążenie do tworzenia instalacji, które są<br /><b
              >efektywne energetycznie</b
            > i pozwalają<br />
            z energią
          </li><br />

          <li>
            Zwiększanie <b>świadomości społecznej</b><br /> na temat korzyści wynikających<br
            /> z wykorzystania odnawialnych źródeł energii
          </li><br />

          <li>Osiągnięcie <b>stabilnej pozycji na rynku</b><br /></li>
        </ul>

        <div class="columnSzarePanele">
          <img
            src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/ksiazka.png"
            style="width:26vw"
          />
          <ul class="listaKsiążkaSzaryPanel szarePaneleLista">
            <li>Odnawialna energia dla zrównoważonej<br />przyszłości</li><br />

            <li>
              Tworzymy innowacyjne rozwiązania dla<br />czystszego świata
            </li><br />

            <li><b>Energia z natury - dla Twojego biznes</b></li><br />

            <li>
              Projektujemy z myślą o przyszłości - dla<br />Twojego sukcesu
            </li><br />

            <li>Odnawialne źródła energii - nasza pasja,<br />Twoja korzyść</li>
          </ul>
        </div>
      </div>
    </div>

    <footer style="padding-top: 10vw;">
      <hr color="#9fdd4d" width="100%" style="padding-left: none!important;" />

      <div style="display: flex;">
        <div style=" flex:50vw; padding-bottom: 1vw; ">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2432.891691416013!2d16.923419612598494!3d52.42676014301164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b546f6711a7%3A0x2dae340e96dd3d34!2sOzimina%2018A%2C%2061-664%20Pozna%C5%84!5e0!3m2!1spl!2spl!4v1693133991318!5m2!1spl!2spl"
            width="100%"
            height="100%"
            frameborder="0"
            style="border:50"
            allowfullscreen></iframe>
        </div>

        <div
          class="adressFooter textFooter"
          style="flex:20vw;padding-left: 1vw;"
        >
          <p>
            <color style="color: #6bb30d;">Dane adresowe</color>
            <br /><br />
            Ecotermcomplex Sp. z o.o<br />Ul: Ozimina 18a<br />61-664-Poznań
          </p>
        </div>
        <div class="compnayInfoFooter textFooter" style="flex:30vw;">
          <p>
            Ecotermcomplex Sp. z o.o.<br />
            tel. kom. +48 695 850 296<br />
            mail: biuro@ecotermcomplex.pl<br />
            NIP: 7831764146<br />
            REGON: 368207463<br />
            Nr konta: 65 1140 2004 0000 3602 7896 9347<br />
          </p>
          <div class="row2 rowBottomGł" style="text-align: right; ">
            <img
              src="https://ecotermcomplex.pl/wp-content/uploads/2023/09/LOGO_ECOTERM_COMPLEX.3213.png"
              alt="logo"
              width="80%"
            />
          </div>
        </div>
      </div>
    </footer>

    <script>
      let urlOnas = "https://ecotermcomplex.pl/?page_id=2383";
      let urlStrGł = "https://ecotermcomplex.pl";
      let urlCoRobimy = "https://ecotermcomplex.pl/?page_id=1949";
      let urlAktualności = "https://ecotermcomplex.pl/?page_id=2445";
      let urlKontakt = "https://ecotermcomplex.pl/?page_id=2034";
      let urlETCheck = "https://ecotermcomplex.pl/?page_id=2172";

      window.addEventListener("click", (event) => {
        let xperc = (event.offsetX / screen.width) * 100;
        let yperc = (event.offsetY / screen.width) * 100;

        console.log("left: " + xperc.toFixed(2), ", down: " + yperc.toFixed(2));
      });

      function redirectStrGł() {
        window.location.href = urlStrGł;
      }
      function redirectOnas() {
        window.location.href = urlOnas;
      }

      function redirectCoRobimy() {
        window.location.href = urlCoRobimy;
      }
      function redirectAktualności() {
        window.location.href = urlAktualności;
      }
      function redirectKontakt() {
        window.location.href = urlKontakt;
      }
      function redirectETCheck() {
        window.location.href = urlETCheck;
      }
    </script>
  </div>
</body>
