---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import UE from "@images/ue.jpg";
---

<BaseLayout>
  <!-- Hero Section -->
  <section class="py-20 w-full bg-etc-600 bg-blend-overlay">
    <div
      class="text-white flex flex-col text-left justify-center content-center w-[50vw] h-full px-12"
    >
      <h1 class="text-5xl font-bold mb-6">ETCheck</h1>
      <p class="text-xl mb-8">Optymalizacja energetyczna budynków</p>
    </div>
  </section>

  <!-- Main Content -->
  <section class="py-20 bg-white">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-3xl font-bold mb-8 text-etc-dark">
          ETCheck - Optymalizacja energetyczna budynków
        </h2>
        <p class="text-lg text-gray-700 mb-6">
          ECOTERM COMPLEX SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ realizuje
          projekt dofinansowany z Funduszy Europejskich „ETCheck – kompleksowa
          usługa optymalizacyjna i serwisowa dla budynków z wykorzystaniem
          systemu monitoringu charakterystycznych parametrów, zapotrzebowania
          energii, analizy danych i zachowań użytkowników”. Celem projektu jest
          budowa pozycji konkurencyjnej przedsiębiorstwa ECOTERM poprzez
          opracowanie i przygotowanie własnej technologii umożliwiającej
          wdrożenie nowej, kompleksowej usługi ETCheck przeznaczonej dla
          inwestorów i operatorów budynków użyteczności publicznej.
        </p>
        <p>
          <strong>Dofinansowanie projektu z UE:</strong> 1 712 289,33 PL
        </p>
        <div class="py-24">
          <Image
            src={UE}
            alt="UE_dofinansowanie"
            id="UE__etcheck"
            class="w-96"
          />
        </div>
      </div>
    </div>
  </section></BaseLayout
>
